// src/assets/styles/_variables.scss
$white: #E8E6E3;
$black: #040203;
$yellow: #FFC300;
$grey: #878787;
$dark: #111011;
$dark: #201E20;


$font-family: 'Helvetica, Arial, sans-serif';

$base-margin:4rem;

$vertical-padding: 155px;
$horizontal-padding:8.542vw;

$title: 110px;
$subtitle:26px;
$h1:76px;
$h2:61px;
$h3:49px;
$h4:39px;
$h5:31px;
$body:25px;

$h1-mobile:50px;